body{
	display: none;
	margin: 0;
	background-color: #fab4c8;
}

/*top 烟花字体 */
.w-t{
	margin: 300px 0 100px;
	/*width: 500px;*/
}
.w-t img{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	opacity: 0;
}
.w-t.animate img{
	-webkit-animation: bloom 2s ease 1.2s infinite;
	animation: bloom 2s ease 1.2s infinite;
}

.w-t img.boom2{
	float: right;
	margin-right: 100px;
}
.w-t.animate img.boom2{
	-webkit-animation: bloom 2s ease 1.5s infinite;
	animation: bloom 2s ease 1.5s infinite;
}

.w-t img.boom3{
	position: absolute;
	top: 20px;
}
.w-t.animate img.boom3{
	-webkit-animation: bloom 2s ease 1.4s infinite;
	animation: bloom 2s ease 1.4s infinite;
}
@-webkit-keyframes bloom{
	0% {
		-webkit-transform: scale(0,0);
		transform: scale(0,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
}
@keyframes bloom{
	0% {
		-webkit-transform: scale(0,0);
		transform: scale(0,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
}
.w-t-m{
	/*position: absolute;*/
	/*left: 50%;*/
	z-index: 10;
	line-height: 80px;
	color: #ff720a;
	/*letter-spacing: 5px;*/
	opacity: 0;
	font-size: 56px;
	font-weight: bold;
	/*margin-left: -250px;*/
	text-align: center;
}
.w-t.animate .w-t-m{
	-webkit-animation: titleBloom 1s linear 1s both;
	animation: titleBloom 1s linear 1s both;
}
@-webkit-keyframes titleBloom{
	0% {
		-webkit-transform: translate(-50px);
		transform: translate(-50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@keyframes titleBloom{
	0% {
		-webkit-transform: translate(-50px);
		transform: translate(-50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
/*人物类 */
.w-p{
	margin: -50px auto;
	/*width: 1000px;*/
	overflow: hidden;
}
.w-m{
	float: left;
	width: 50%;
}
.w-m img{
	margin-right: 0;
	float: right;
	margin-top: 60px;
	width: 270px;
	height: 436px;
}
.w-p.animate .w-m img{
	-webkit-animation: toWoman 0.5s ease .5s both;
	animation: toWoman 0.5s ease .5s both;
}
@-webkit-keyframes toWoman{
	0%{
		opacity: 0;
		-webkit-transform: translate(-200px);
		transform: translate(-200px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@keyframes toWoman{
	0%{
		opacity: 0;
		-webkit-transform: translate(-200px);
		transform: translate(-200px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
.w-w{
	float: right;
	width: 50%;
}
.w-w img{
	margin-left: 0;
	float: left;
	width: 282px;
	height: 548px;
}
.w-w.animate img{
	-webkit-animation: showW 0.8s ease 0s both;
	animation: showW 0.8s ease 0s both;
}
@-webkit-keyframes showW{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes showW{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.w-f{
	position: absolute;
	z-index: 20;
	left: 50%;
	margin-left: -40px;
	margin-top: 145px;
}
.w-f img{
	width: 60px;
}
.w-f.animate img{
	-webkit-animation: show 0.4s ease 1s both;
	animation: show 0.4s ease 1s both;
}

@-webkit-keyframes show{
	0%{
		opacity: 0;
		-webkit-transform: scale(0.1,0.1);
		transform: scale(0.1,0.1);
	}
	100%{
		opacity: 1;
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
}

@keyframes show{
	0%{
		opacity: 0;
		-webkit-transform: scale(0.1,0.1);
		transform: scale(0.1,0.1);
	}
	100%{
		opacity: 1;
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
}
.w-p:after{
	clear:both;clear:both;content:'.';display:block;height:0;visibility:hidden;overflow:hidden;
}
/*flowers*/
.w-fls{
	width: 820px;
	margin: 0 auto;
}
.w-fls img{
	height: 120px;
	z-index: 400;
}
.w-fls.animate img{
	-webkit-animation: showFlows 0.4s ease 2.3s both;
	animation: showFlows 0.4s ease 2.3s both;
}
@-webkit-keyframes showFlows{
	0%{
		opacity: 0;
		-webkit-transform: translate(0,200px);
		transform: translate(0,200px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@keyframes showFlows{
	0%{
		opacity: 0;
		-webkit-transform: translate(0,200px);
		transform: translate(0,200px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
.w-2{
	margin-top: -130px;
	padding-left: 100px;
}
.w-2.animate img{
	-webkit-animation: showFlows 0.4s ease 2.7s both;
	animation: showFlows 0.4s ease 2.7s both;
}